In [4]:
# import dependencies
import pandas as pd
import numpy as np
import requests

# Import the OpenWeatherMap API key
from weather_api_key import api_key

In [5]:
#import and display csv file
location_list=pd.read_csv("location_list.csv")
location_list

         State        City  Order ID
0      Alabama      Auburn         3
1      Alabama     Decatur         7
2      Alabama    Florence         3
3      Alabama      Hoover         2
4      Alabama  Huntsville         7
..         ...         ...       ...
594  Wisconsin    Superior         2
595  Wisconsin    Waukesha         1
596  Wisconsin      Wausau         1
597  Wisconsin  West Allis         1
598    Wyoming    Cheyenne         1

[599 rows x 3 columns]

In [14]:
# Set the API base URL
url = "http://api.openweathermap.org/geo/1.0/direct?&limit=1&appid=" + api_key

# define empty list to store information
city_locations=[]

for i in location_list.index:
    
    #store city and state name for later use
    current_city=location_list.loc[i,'City']
    current_state=location_list.loc[i,'State']
    current_location=f"{current_city},{current_state},USA"
    
    #create query URL for API call
    city_url= url + "&q=" + current_location
    
    try:
        #call and import API response
        city_info=requests.get(city_url).json()
    
        #store latitude, longitude from json
        city_lat=city_info[0]['lat']
        city_lon=city_info[0]['lon']
    
        #store all relevant information into the previously created list
        city_locations.append({"City":current_city
                              ,"State":current_state
                              ,"Latitude":city_lat
                              ,"Longitude":city_lon
                              ,"Order Quantity":location_list.loc[i,'Order ID']})
    
    except:
        print(f"{current_city},{current_state} not found")
        pass

print("Data retrieval complete")

Saint Charles,Illinois not found
Data retrieval complete

In [16]:
#for some reason Saint Charles would not return information
#a manual search was able to find it
#adding the info manually to the list city_locations so that our data is complete
city_locations.append({"City":"St. Charles"
                      ,"State":"Illinois"
                      ,"Latitude":41.9139808
                      ,"Longitude":-88.3128183
                      ,"Order Quantity":location_list.loc[221,'Order ID']})

In [18]:
#create dataframe of locations and read into new csv
city_coords=pd.DataFrame(city_locations)
city_coords.to_csv("city_coords.csv",index=False)

#display new dataframe to check
city_coords

            City      State   Latitude   Longitude  Order Quantity
0         Auburn    Alabama  32.609857  -85.480783               3
1        Decatur    Alabama  34.606020  -86.983817               7
2       Florence    Alabama  34.835458  -87.659687               3
3         Hoover    Alabama  33.350293  -86.851123               2
4     Huntsville    Alabama  34.729847  -86.585901               7
..           ...        ...        ...         ...             ...
594     Waukesha  Wisconsin  43.011678  -88.231481               1
595       Wausau  Wisconsin  44.959602  -89.629824               1
596   West Allis  Wisconsin  43.016681  -88.007031               1
597     Cheyenne    Wyoming  41.139981 -104.820246               1
598  St. Charles   Illinois  41.913981  -88.312818               5

[599 rows x 5 columns]